@using Sura.Areas.Admin.Views.Comments.Models
@model IEnumerable<List>
@{
    ViewBag.Title = "Comments";
    var unapproved = Model.Where(x => x.Approved == false).Count();
}
@section breadcrumbs
{
<li class="active"><span class="divider">/</span> @Html.ActionLink("Comments", "List", "Comments")</li>
}
<section class="span12">
  <h1>Comments</h1>

@if (ViewBag.AllowComments == false)
{
  <div class="alert">
    <a data-dismiss="alert" class="close">×</a>
    Comments are currently disabled throughout the blog. @Html.ActionLink("Change this setting", "Edit", "Settings")
  </div>
}

@if (ViewBag.CommentsRequireApproval == false)
{
  <div class="alert">
    <a data-dismiss="alert" class="close">×</a>
    Comments are not currently moderated. New comments will viewable to the public. @Html.ActionLink("Change this setting", "Edit", "Settings")
  </div>
}

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#unapproved" data-toggle="tab">Awaiting Moderation 
    @if (unapproved > 0)
    { 
        @:(@unapproved) 
    }
    </a></li>
    <li><a href="#approved" data-toggle="tab">Approved</a></li>
  </ul>
  <div class="tab-content">
    <table id="unapproved" class="tab-pane table table-striped active">
       <thead>
                <tr>
                    <th>Post</th>
                    <th>Post Published At</th>
                    <th>Author</th>
                    <th>Email</th>
                    <th>Comment</th>
                    <th>Submitted</th>
                </tr>
            </thead>
            <tbody> @foreach (var comment in Model.Where(x => x.Approved == false).OrderBy(x => x.WrittenAt).OrderBy(x => x.PostPublishedAt))
                    {
                 <tr>
                    <td>@Html.RouteLink(@comment.PostTitle, "Blog_Post", new { slug = @comment.PostSlug }, null)</td>
                    <td>@comment.PostPublishedAt.ToString("dd/MM/yy HH:mm")</td>
                    @if (string.IsNullOrWhiteSpace(comment.Url) == false)
                    {
                         <td><a href="@comment.Url">@comment.Name</a></td>
                    }
                    else
                    {
                        <td>@comment.Name</td>
                    }            
                    <td>@comment.Email</td>
                    <td>@comment.Body</td>
                    <td>@comment.WrittenAt</td>
                    <td>@Ajax.ActionLink("Approve", "Approve", "Comments", new { slug = comment.PostSlug, commentId = comment.CommentId },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    Confirm = "Are you sure you want to approve this comment?",
                                    OnSuccess = "redirect('" + @Url.Action("List", "Comments") + "')"
                                })
                    </td>
                    <td>@Ajax.ActionLink("Reject", "Reject", "Comments", new { slug = comment.PostSlug, commentId = comment.CommentId },
                                new AjaxOptions
                                {
                                    HttpMethod = "DELETE",
                                    Confirm = "Are you sure you want to reject this comment? It will be permanently deleted.",
                                    OnSuccess = "redirect('" + @Url.Action("List", "Comments") + "')"
                                })
                    </td>
                </tr> }
            </tbody>            
        </table>  

    <table id="approved" class="tab-pane table table-striped">    
      <thead>
        <tr>
          <th>Post</th>
          <th>Post Published At</th>
          <th>Author</th>
          <th>Comment</th>
          <th>Submitted</th>
        </tr>
      </thead>
      <tbody> 
@foreach (var comment in Model.Where(x => x.Approved).OrderBy(x => x.WrittenAt).OrderBy(x => x.PostPublishedAt))
{       <tr>
          <td>@Html.ActionLink(@comment.PostTitle, "Post", "Blog", new { slug = @comment.PostSlug }, null)</td>
          <td>@comment.PostPublishedAt.ToString("dd/MM/yy HH:mm")</td>
  @if (string.IsNullOrWhiteSpace(comment.Url) == false)
  {
          <td><a href="@comment.Url">@comment.Name</a></td>
  }
  else
  {
          <td>@comment.Name</td>
  }
          <td>@comment.Body</td>
          <td>@comment.WrittenAt</td>
          <td>@Ajax.ActionLink("Delete", "Delete", "Comments", new { slug = comment.PostSlug, commentId = comment.CommentId },
            new AjaxOptions
            {
                HttpMethod = "DELETE",
                Confirm = "Are you sure you want to permanently delete this comment?",
                OnSuccess = "redirect('" + @Url.Action("List", "Comments") + "')"
            })</td>
        </tr> 
}
      </tbody>            
    </table>
  </div>
</div>

</section>