@using Sura.Areas.Admin.Views.Account.Models
@model Edit
@{
    ViewBag.Title = "Edit Account";
}
@section breadcrumbs
{
<li class="active">@Html.ActionLink("Account", "Edit", "Account")</li>
}
<section class="span12">
  <h1>Account</h1>
@using (Html.BeginForm("Update", "Account", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

   <fieldset class="panel">
     <legend>Personal Information</legend>

     <div class="control-group">   
       <label class="control-label" for="Firstname">Firstname</label>
       <div class="controls">
         @Html.TextBoxFor(model => model.Firstname)
       </div>
     </div> 

     <div class="control-group">   
       <label class="control-label" for="Surname">Surname</label>
       <div class="controls">
         @Html.TextBoxFor(model => model.Surname)
       </div>
     </div> 

     <div class="control-group">   
       <label class="control-label" for="Nickname">Nickname</label>
       <div class="controls">
         @Html.TextBoxFor(model => model.Nickname)
       </div>
     </div> 
   </fieldset>    
    
   <fieldset class="panel">
     <legend>Change Password</legend>
                
     <div class="control-group">   
       <label class="control-label" for="Password">Password</label>
       <div class="controls">
         @Html.TextBoxFor(model => model.Password)
       </div>
     </div> 

     <div class="control-group">   
       <label class="control-label" for="NewPassword">NewPassword</label>
       <div class="controls">
         @Html.TextBoxFor(model => model.NewPassword)
       </div>
     </div> 

     <div class="control-group">   
       <label class="control-label" for="NewPasswordRetype">NewPasswordRetype</label>
       <div class="controls">
         @Html.TextBoxFor(model => model.NewPasswordRetype)
       </div>
     </div>
    </fieldset>  
    
    <input type="submit" value="Update Account" class="btn btn-primary" />
}
</section>