@using Sura.Areas.Admin.Views.Account.Models
@model Login
@{
    ViewBag.Title = "Login";
}
<section class="span12">  
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-inline" }))  
{ <fieldset class="panel">
    <legend>Login</legend>

    @Html.ValidationSummary()

    @Html.LabelFor(model => model.Username)
    @Html.TextBoxFor(model => model.Username)
        
    @Html.LabelFor(model => model.Password)
    @Html.PasswordFor(model => model.Password)

    <input type="submit" value="Login" class="btn btn-primary" />   
  </fieldset>
}
</section>
