@using Sura.Areas.Admin.Helpers
@using Sura.Areas.Admin.Views.Users.Models
@model Create
@{
    ViewBag.Title = "New User";
}
@section breadcrumbs
{
<ul class="breadcrumb">
  <li>@Html.ActionLink("Dashboard", "Index", "Dashboard") <span class="divider">/</span></li>
  <li>@Html.ActionLink("Users", "List", "Users") <span class="divider">/</span></li>
  <li class="active">@Html.ActionLink("New User", "Create", "Users")</li>
</ul>
}
<section class="span12">
  <h1>New User</h1>

  <ul class="nav nav-pills">
    <li class="filter">Filter:</li>
    <li class="active">@Html.ActionLink("New User", "Create", "Users")</li>
    <li>@Html.ActionLink("List", "List", "Users")</li>
  </ul>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
{
    @Html.ValidationSummary()

    <fieldset class="panel">
        <legend>User Details</legend>

        <div class="control-group">   
          <label class="control-label" for="Username">Username</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Username)
          </div>
        </div> 

        <div class="control-group">   
          <label class="control-label" for="Password">Password</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Password)
          </div>
        </div> 

        <div class="control-group">   
          <label class="control-label" for="PasswordRetype">Password (Again)</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.PasswordRetype)
          </div>
        </div> 
    </fieldset>    
    
    <fieldset class="panel">
        <legend>Personal Information</legend>        

        <div class="control-group">   
          <label class="control-label" for="Firstname">Firstname</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Firstname)
          </div>
        </div> 

        <div class="control-group">   
          <label class="control-label" for="Surname">Surname</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Surname)
          </div>
        </div> 

        <div class="control-group">   
          <label class="control-label" for="Nickname">Nickname</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Nickname)
          </div>
        </div>
    </fieldset>  
  
    <input type="submit" value="Save New User" class="btn btn-primary" />
}
</section>