@using Sura.Areas.Admin.Views.Users.Models
@model Edit
@{
    ViewBag.Title = "Edit User";
}
@section breadcrumbs
{
<ul class="breadcrumb">
  <li>@Html.ActionLink("Dashboard", "Index", "Dashboard") <span class="divider">/</span></li>
  <li>@Html.ActionLink("Users", "List", "Users") <span class="divider">/</span></li>
  <li class="active">@Html.ActionLink(Model.Id, "Edit", "Users", new { username = Model.Id }, null)</li>
</ul>
}

<section class="span12">
  <h1>Edit - '@Model.Id'</h1>

@if (@ViewBag.Success == true)
{
  <div class="alert alert-success">
    <a data-dismiss="alert" class="close">&times;</a>
    The user was successfully updated.
  </div>
}

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

    <fieldset class="panel">
        <legend>User Details</legend>

        <div class="control-group">   
          <label class="control-label" for="Password">Password</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Password)
          </div>
        </div> 

        <div class="control-group">   
          <label class="control-label" for="PasswordRetype">Password (Again)</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.PasswordRetype)
          </div>
        </div> 
    </fieldset>    
    
    <fieldset class="panel">
        <legend>Personal Information</legend>        

        <div class="control-group">   
          <label class="control-label" for="Firstname">Firstname</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Firstname)
          </div>
        </div> 

        <div class="control-group">   
          <label class="control-label" for="Surname">Surname</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Surname)
          </div>
        </div> 

        <div class="control-group">   
          <label class="control-label" for="Nickname">Nickname</label>
          <div class="controls">
            @Html.TextBoxFor(model => model.Nickname)
          </div>
        </div>
    </fieldset>  
  
     
  <div class="span3">
    <input type="submit" value="Update User" class="btn btn-primary" />
  </div>
  <div class="sub-buttons span9">
@Ajax.ActionLink("Delete", "Delete", "Users", new { username = @Model.Id }, new AjaxOptions
{
    HttpMethod = "DELETE",
    Confirm = "Are you sure you want to delete this user?",
    OnSuccess = "redirect('" + @Url.Action("List", "Users") + "')"
}, new { @class = "nice small radius red button" })
  </div>
}


</section>