@using Sura.Areas.Admin.Views.Users.Models
@model IEnumerable<List>
@{
    ViewBag.Title = "Users";
}
<section class="span12 columns">
  <h1>New User</h1>

  <ul class="nav nav-pills">
    <li class="filter">Filter:</li>
    <li>@Html.ActionLink("New User", "Create", "Users")</li>
    <li class="active">@Html.ActionLink("List", "List", "Users")</li>
  </ul>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Last Login Date</th>
        <th>Creation Date</th>
      </tr>
    </thead>
    <tbody> 
@foreach (var user in Model.OrderBy(r => r.Username))
{     <tr>
        <td>@user.Firstname</td> 
        <td>@Html.ActionLink(@user.Id, "Edit", "Users", new { username = @user.Id }, null)</td> 
        <td>@if (user.LastLoginAt.HasValue) { @user.LastLoginAt.Value.ToString("dd/MM/yy HH:mm") }</td>
        <td>@user.CreatedAt.ToString("dd/MM/yy HH:mm") </td>
      </tr> }
    </tbody>            
  </table>
</section>