@using Sura.Areas.Admin.Views.Users.Models
@model IEnumerable<List>
@{
    ViewBag.Title = "Users";
}
<section class="twelve columns">
<h3>Users</h3>


<dl class="red sub-nav not-tabbed">
  <dt>Filter:</dt>
  <dd>@Html.ActionLink("New User", "Create", "Users")</dd>
  <dd class="active">@Html.ActionLink("List", "List", "Users")</dd>
</dl>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Last Login Date</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody> @foreach (var user in Model.OrderBy(r => r.Username))
            {
         <tr>
            <td>@user.Firstname</td> 
            <td>@Html.ActionLink(@user.Id, "Edit", "Users", new { username = @user.Id }, null)</td> 
            <td>@if (user.LastLoginAt.HasValue) { @user.LastLoginAt.Value.ToString("dd/MM/yy HH:mm") }</td>
            <td>@user.CreatedAt.ToString("dd/MM/yy HH:mm") </td>
        </tr> }
    </tbody>            
</table>

</section>