@using Sura.Areas.Admin.Helpers
@using Sura.Areas.Admin.Infrastructure
@using Sura.Areas.Admin.Views.Posts.Models
@model Create
@{
    ViewBag.Title = "New Post";
}
@section stylesheets
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Stylesheets/Sura/sura-admin-posts.css")" />
}
@section javascripts 
{
    <script src="@Url.Content("~/Content/Javascripts/Sura/sura-admin-posts.min.js")"></script>
    @{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#Tags').tagInput();
                
                var scheduler = $('span#schedule-datetimepicker').hide();
                $('#ScheduleFor').datetimepicker({
                    showOn: 'button',
                    buttonImage: '@Url.Content("~/Content/Images/Sura/scheduler/calendar.gif")',
                    buttonImageOnly: true,
                    dateFormat: 'dd/mm/yy',
                    minDate: new Date()
                });

                $('#Availability').change(function () {
                    if ($(this).val() == '@Availability.Scheduled') {
                        scheduler.show();
                        $('.ui-datepicker-trigger').click();
                    }
                    else {
                        scheduler.hide();
                    }
                });
            });
        </script>
      }
}

<section class="span12 columns">
  <h1>New Post</h1>

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
{
  @Html.ValidationSummary() 
            
  <fieldset class="panel">
    <legend>Post Content</legend>

    <div class="control-group">   
      <label class="control-label" for="Title">Title</label>
      <div class="controls">
        @Html.TextBoxFor(model => model.Title, new { @class = "input-xlarge" })
        <p class="help-block">The title will also become to the slug used in the post url.</p>
      </div>
    </div>

    <div class="control-group">   
      <label class="control-label" for="Tags">Tags</label>
      <div class="controls">
        @Html.TextBoxFor(model => model.Tags)
        <p class="help-block">Tags associate posts with their content. Separate tags with commas.</p>
      </div>
    </div>

    <div class="control-group">   
      <label class="control-label" for="Body">Content</label>
      <div class="controls">
        @Html.TextAreaFor(model => model.Body, new { @class = "body" })
      </div>
    </div>
  </fieldset>    
    
  <fieldset class="panel">
    <legend>SEO</legend>
   
    <div class="control-group">   
      <label class="control-label" for="Description">Description</label>
      <div class="controls">
        @Html.TextAreaFor(model => model.Description, new { @class = "description" })
      </div>
    </div>
  </fieldset>
    
  <fieldset class="panel row">
    <legend>Settings</legend>

    <div class="control-group">   
      <label class="control-label" for="Availability">Availability</label>
      <div class="controls">
        @Html.EnumDropDownListFor(model => model.Availability, new { @class = "span2" })
        <span id="schedule-datetimepicker">
          <label for="ScheduleFor">Select a time and date:</label>
          <input id="ScheduleFor" name="ScheduleFor" type="text" value="" disabled />
        </span>
      </div>
    </div>

     <div class="control-group">   
      <label class="control-label" for="EnableComments">Comments</label>
      <div class="controls">
        @Html.EnumDropDownListFor(model => model.EnableComments, new { @class = "span2" })
      </div>
    </div>
  </fieldset>
  
  <input type="submit" value="Save New Post" class="btn btn-primary" />
  <input type="reset" value="Cancel" class="btn" />
} 
</section>