@using Sura.Areas.Admin.Helpers
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sura - @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/Stylesheets/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Stylesheets/Sura/sura-admin.css")" />
    @RenderSection("stylesheets", false)    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar">
      <div class="navbar-inner">
        <div class="container">
          @Html.RouteLink("Sura", "Blog", null, new { @class = "brand"})
@if (Request.IsAuthenticated)
{         <ul class="nav">
            <li class="nav-dashboard">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
            <li class="nav-posts-new">@Html.ActionLink("New Post", "Create", "Posts")</li>
            <li class="nav-posts">@Html.ActionLink("Posts", "List", "Posts")</li>
            <li class="nav-comments">@Html.ActionLink("Comments", "List", "Comments")</li>
            <li class="nav-users">@Html.ActionLink("Users", "List", "Users")</li>
            <li class="nav-settings">@Html.ActionLink("Settings", "Edit", "Settings")</li>
            <li class="nav-logout">@Html.ActionLink("Logout", "Logout", "Account")</li>
          </ul>  
          <ul class="nav pull-right">
            <li class="nav-user">@Html.User()</li>
          </ul>
} 
        </div>
      </div>
    </header>

    <div class="container">       
      <div class="row main">
@if (Request.IsAuthenticated)
{       <ul class="breadcrumb">
          <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
          @RenderSection("breadcrumbs", false)
        </ul>
}
        @RenderBody()
      </div>
      <footer class="row">
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
    <script src="@Url.Content("~/Content/Javascripts/bootstrap.min.js")"> </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"> </script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"> </script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"> </script>
    <script src="@Url.Content("~/Content/Javascripts/Sura/sura-admin.js")"> </script>
    @RenderSection("javascripts", false)

  </body>
</html>