@model Sura.Areas.Admin.Views.Settings.Models.Edit
@{
    ViewBag.Title = "Edit Blog Settings";
}
@section breadcrumbs
{
<li class="active"><span class="divider">/</span> @Html.ActionLink("Settings", "Edit", "Settings")</li>
}
<section class="span12 columns">
  <h1>Edit Settings</h1>

@if (@ViewBag.Success == true)
{
    <div class="alert alert-success ">
        <a data-dismiss="alert" class="close">&times;</a>
        The blog settings were successfully updated.
    </div>
}

@using (Html.BeginForm("Edit", "Settings", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
{
  @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)
            
  <fieldset class="panel">
    <legend>Users</legend>

    <div class="control-group">
      <label class="control-label" for="KeepUsersOnlineFor">Keep Users Online For</label>
      <div class="controls">
        <div class="input-append">
          @Html.TextBoxFor(model => model.KeepUsersOnlineFor, new { @class = "mins" })
          <span class="add-on">minutes</span>
        </div>
        <p class="help-block">To have user sessions never expire enter 0.</p>
      </div>
    </div>
  </fieldset>    
    
  <fieldset class="panel">
    <legend>Comments</legend>   

    <div class="control-group">
      <label class="control-label" for="EnableComments">Enable Comments</label>
      <div class="controls">
        @Html.EnumDropDownListFor(model => model.EnableComments, new { @class = "span2" })
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="CommentsRequireApproval">Moderate Comments</label>
      <div class="controls">
        @Html.EnumDropDownListFor(model => model.CommentsRequireApproval, new { @class = "span2" })
      </div>
    </div>      
  </fieldset>
  
  <input type="submit" value="Update Settings" class="btn btn-primary" />
} 
</section>