@model Sura.Areas.Admin.Views.Settings.Models.Edit
@{
    ViewBag.Title = "Edit Blog Settings";
}
@section breadcrumbs
{
<ul class="breadcrumb">
  <li>@Html.ActionLink("Dashboard", "Index", "Dashboard") <span class="divider">/</span></li>
  <li class="active">@Html.ActionLink("Settings", "Edit", "Settings")</li>
</ul>
}
<section class="span12 columns">
  <h1>Edit Blog Settings</h1>

@if (@ViewBag.Success == true)
{
    <div class="alert alert-success ">
        <a data-dismiss="alert" class="close">&times;</a>
        The blog settings were successfully updated.
    </div>
}

@using (Html.BeginForm("Edit", "Settings", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
{
  @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)
            
  <fieldset class="panel">
    <legend>Users</legend>

    <div class="control-group">
      <label class="control-label" for="KeepUsersOnlineFor">Keep Users Online For</label>
      <div class="controls">
        <div class="input-append">
          @Html.TextBoxFor(model => model.KeepUsersOnlineFor, new { @class = "mins" })
          <span class="add-on">minutes</span>
        </div>
      </div>
    </div>
  </fieldset>    
    
  <fieldset class="panel">
    <legend>NumberOfComments</legend>   

    <div class="control-group">
      <label class="control-label" for="EnableNumberOfComments">Enable Comments</label>
      <div class="controls">
        <label class="radio">
          @Html.RadioButtonFor(model => model.EnableComments, true) Yes
        </label>        
        <label class="radio">
          @Html.RadioButtonFor(model => model.EnableComments, false) No
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="NumberOfCommentsRequireApproval">Moderate Comments</label>
      <div class="controls">
        <label class="radio">
          @Html.RadioButtonFor(model => model.CommentsRequireApproval, true) Yes
        </label>        
        <label class="radio">
          @Html.RadioButtonFor(model => model.CommentsRequireApproval, false) No
        </label>
      </div>
    </div>
  </fieldset>
  
  <input type="submit" value="Update Settings" class="btn btn-primary" />
} 
</section>