@using Sura.Views.Blog.Models
@model Comment

@using (Html.BeginForm("Comment", "Blog", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.PostId)

    <fieldset class="panel row">
      <legend>Post A Comment</legend>

      <div class="control-group">   
        <label class="control-label" for="Name">Name</label>
        <div class="controls">
          @Html.TextBoxFor(model => model.Name)
          <p class="help-inline"><span class="label label-important">Required</span></p>
        </div>
      </div>
      
      <div class="control-group">   
        <label class="control-label" for="Email">Email</label>
        <div class="controls">
          @Html.TextBoxFor(model => model.Email)
          <p class="help-inline"><span class="label label-important">Required</span></p>
        </div>
      </div>

      <div class="control-group">   
        <label class="control-label" for="Url">Url</label>
        <div class="controls">
          @Html.TextBoxFor(model => model.Url)
        </div>
      </div>

      <div class="control-group">   
        <label class="control-label" for="Body">Comment</label>
        <div class="controls">
        @Html.TextAreaFor(model => model.Body, new { @class = "body" })
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" value="Post Comment"  class="btn btn-primary" />
        <input type="reset" value="Cancel" class="btn" />
      </div>
    </fieldset>
}