@using Sura.Views.Blog.Models
@model IEnumerable<List>
@{
    ViewBag.Title = "Tag: " + ViewBag.Tag;
}
<section class="twelve columns">
<h2>Tag: @ViewBag.Tag (@Model.Count() posts)</h2>

@foreach (var post in Model)
{
     <article class="panel">
        <header class="row">
            <h3 class="nine columns"><a href="@Url.Action("Post", "Blog", new { slug = @post.Slug })">@post.Title</a></h3>
            <time datetime="11-11-2011" pubdate  class="three columns">@Html.Published(@post.PublishedAt)</time>
        </header>

        <div id="article-content" class="row">
            @post.Content
        </div>

        <footer class="row">
            <ul class="tags nine columns">
                <li>Tags: </li>
                @foreach (var tag in post.Tags)
                {
                <li><a href="@Url.Action("Tag", "Blog", new { @tag })">@tag</a></li>               
                }
            </ul> 
            <a href="@Url.Action("Post", "Blog", new { slug = @post.Slug })#comments" class="three columns comments">
            @if (post.EnableComments)
            {
                if (post.Comments == 0)
                {
                    <p class="comments">No comments</p>
                }
                else
                {
                    <p class="comments">Comments (@post.Comments)</p>
                }
            }</a>
        </footer>
    </article>
}
</section>